<!DOCTYPE html>
<html>
<head>
    <title>Tu Aplicación Web</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <header>
        <h1>Bienvenido a Tu Aplicación Web</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>

    <div class="content">
        $:content
    </div>

    <footer>
        <p>&copy; 2024 Tu Aplicación Web. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
